{{template "base/T.header.tpl" .}}
<title>文章- 我的beego 博客</title>
</head>
<body>
{{template "base/T.navbar.tpl" .}}
<!--text begin-->
<div class="zero-clipboard" style="margin-top: 20px;">
    <div class="container">
        <div class="page-header">
            <h1>文章列表</h1>
            {{if .IsLogin}}
            <a href="/topic/add" class="btn btn-default">添加文章</a>
            {{end}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>文章名称</th>
                        <th>文章标签</th>
                        <th>最后更新时间</th>
                        <th>浏览</th>
                        <th>回复数</th>
                        <th>最后回复时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{$login := .IsLogin}}
                    {{$PreItem := .PreItem}}
                    <!-- 获取序列函数 -->
                    {{$funcNum := .FuncNum}}
                    <!-- 文章标签的转换 -->
                    {{$strSlice:=.StrSlice}}
                    {{range $index,$topic:=.List}}
                    <tr>
                        <th>
                        {{call $funcNum $index $PreItem}} 
                        </th>
                        <th>
                            <a href="/topic/view/{{.Id}}">{{$topic.Title}}</a>
                        </th>
                        <!-- 给文章标签加上链接 -->
                        <th>
                        {{range call $strSlice $topic.Lables}}
                        <a href="/?lable={{.}}">{{.}}</a>
                        {{end}}
                    </th>
                    <th>{{date $topic.Updated "Y-m-d H:i:s"}}</th>
                    <th>{{$topic.Views}}</th>
                    <th>{{$topic.ReplyCount}}</th>
                    <th>{{date $topic.ReplyTime "Y-m-d H:i:s"}}</th>
                    <th>
                        {{if $login}}
                        <a href="/topic/modify?tid={{$topic.Id}}">修改</a>
                        |
                        <a href="/topic/delete/{{$topic.Id}}">删除</a>
                        {{end}}
                    </th>
                </tr>
                {{end}}
            </tbody>
        </table>
        <div class="meneame">
            <span>
                显示{{$PreItem}}-{{.NextItem}}记录,共{{.TotalItem}}记录、{{.TotalPages}}页
            </span>
            <div style="float:left;">{{.PagerHtml}}</div>
        </div>
    </div>
</div>
</div>
<!--text end-->{{template "base/T.bottom.tpl" .}}</body>
</html>